<!DOCTYPE html>
<html lang="en">

<head class="head">
  <meta charset="UTF-8" />
  <title>Constructor</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script type="module" src="/js/index.js"></script>
  <!-- <script type="module" src="/js/router/index.js"></script> -->

</head>


<body class="body">
  
  <div class="loader-container">
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
  </div>


  <input style="display: none;" id="csrf" value="<%= csrf %>" autocomplete="off" />
</body>

</html>