<!DOCTYPE html>
<html lang="en">

<head class="head">
  <meta charset="UTF-8" />
  <title>Constructor</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script type="module" src="/js/index.js"></script>
  <!-- <script type="module" src="/js/router/index.js"></script> -->

</head>


<body class="body">

  <!-- <div class="container-min"></div> -->
  <!-- <button class="button-min btn-submit nostyle-btn" type="button">тексттексттекст</button> -->

  <!-- <nav class="nav-min">
    <ul class="nav-min__list nostyle-list">
      <li class="nav-min__list-item nav-min__list-item-logo">
      </li>
      <li class="nav-min__list-item nav-min__list-item-btn">
        <span class="nav-min__list-item-line"></span>
      </li>
      <li class="nav-min__list-item nav-min__list-item-btn">
        <span class="nav-min__list-item-line"></span>
      </li>
      <li class="nav-min__list-item nav-min__list-item-btn">
        <span class="nav-min__list-item-line"></span>
      </li>
      <li class="nav-min__list-item nav-min__list-item-btn">
        <span class="nav-min__list-item-line"></span>
      </li>
    </ul>
  </nav> -->

  <!-- <aside class="aside-min">


    <header class="aside__header">
      <h2 class="aside__title">заголовок</h2>
    </header>

    <main class="aside__content">
      <ul class="aside__list nostyle-list">
        <li class="aside__list-item">
          <span class="aside__list-item-line"></span>
        </li>
        <li class="aside__list-item">
          <span class="aside__list-item-line"></span>
        </li>
        <li class="aside__list-item">
          <span class="aside__list-item-line"></span>
        </li>
        <li class="aside__list-item">
          <span class="aside__list-item-line"></span>
        </li>
        <li class="aside__list-item">
          <span class="aside__list-item-line"></span>
        </li>
      </ul>
    </main>
    <footer class="footer">
      <ul class="footer-list nostyle-list">
        <li class="footer-list__item"></li>
        <li class="footer-list__item"></li>
        <li class="footer-list__item"></li>
      </ul>
    </footer>
  </aside> -->


  <!-- <input class="input-min input nostyle-input" placeholder="поле ввода" type="text"> -->


  <div class="loader-container">
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
  </div>




  <!-- <button id="test-btn">TEST</button> -->


  <input style="display: none;" id="csrf" value="<%= csrf %>" autocomplete="off" />
</body>

</html>