<!DOCTYPE html>
<html lang="en">

<head class="head">
  <meta charset="UTF-8" />
  <title>Constructor</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script type="module" src="/js/index.js"></script>
  <!-- <script type="module" src="/js/router/index.js"></script> -->

</head>


<body class="body">

  <!-- <main class="main-home">
    <main class="container">

    </main>

    <header class="home-header">
      <nav class="nav">
        <ul class="nav__list nostyle-list">
          <div class="nav__list-items-wrapp">
            <li class="nav__list-item nav__list-item-btn">
              <button class="nav__list-btn nav-btn nostyle-btn" type="button">проекты</button>
            </li>
          </div>
          <li class="nav__list-item nav__list-item-logo">
            <h6 class="nav__logo logo">ЛОГО</h6>
          </li>
        </ul>
      </nav>
    </header>
  </main> -->


  <div class="loader-container">
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
  </div>

  <input style="display: none;" id="csrf" value="<%= csrf %>" autocomplete="off" />
</body>

</html>