<!DOCTYPE html>
<html lang="en">

<head class="head">
  <meta charset="UTF-8" />
  <title>Constructor</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script type="module" src="/js/index.js"></script>
  <!-- <script type="module" src="/js/router/index.js"></script> -->

</head>


<body class="body">

  <!-- <div class="aside">
    <header class="aside__header">
      <h3 class="aside__title">меню</h3>
    </header>

    <form class="aside-form">
      <div class="type-input-container">
        <input id="input" class="type-input-container__input input nostyle-input" placeholder="выберите элемент"
          name="type-input" type="text">
        <ul id="ddown" class="type-input-container__ddown invisible hidden nostyle-list">
          <li class="type-input-container__ddown-item">ITEM</li>
          <li class="type-input-container__ddown-item">ITEMITEM</li>
          <li class="type-input-container__ddown-item">ITEM</li>
          <li class="type-input-container__ddown-item">ITEMITEMITEM</li>
          <li class="type-input-container__ddown-item">ITEM</li>
          <li class="type-input-container__ddown-item">ITEMITEM</li>
          <li class="type-input-container__ddown-item">ITEM</li>
        </ul>
      </div>
    </form>

    <div class="input-result">

    </div>

  </div> -->

  <div class="loader-container">
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
    <div class="loader-container__loader"></div>
  </div>




  <!-- <button id="test-btn">TEST</button> -->


  <input style="display: none;" id="csrf" value="<%= csrf %>" autocomplete="off" />
</body>

</html>