@import url("/css/fonts/fonts.css");
@import url("/css/variables/colors.css");
@import url("/css/mixins/nostyle.css");
@import url("/css/mixins/mixins.css");

@import url("/css/animations/animations.css");


@import url("/css/blocks/loader-container/loader-container.css");


@import url("/css/blocks/btn-submit/btn-submit.css");
@import url("/css/blocks/btn-remove/btn-remove.css");

@import url("/css/blocks/input/input.css");

@import url("/css/blocks/nav-btn/nav-btn.css");


@import url("/css/blocks/result-element/result-element.css");
@import url("/css/blocks/ddown-item/ddown-item.css");
@import url("/css/blocks/menu-input/menu-input.css");



html,
body {
    max-width: 100vw;
    overflow: hidden;
    background-color: var(--gray10);
    margin: 0px;
}


body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


.main {
    transition: 0.2s;
}
