:root {
    --gray10: #f4f4f0;
    --gray20: #e6e6e1;
    --gray100: #9a9a96;
    --gray200: #2d2d2b;






    --blue100: rgb(84, 120, 168);
    --blue200: rgb(55, 87, 130);
    /* --blue10: rgb(177, 186, 198); */





    --green500: rgb(85, 117, 85);
    --green490: rgb(95, 131, 95);


    --red200: rgb(156, 75, 75);
    --red100: indianred;


}