.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

.pointer {
    cursor: pointer !important;
}

.hideable {
    transition: 0.2s !important;
}

.hoverable:hover {
    border: 2px solid var(--blue100) !important;
}